:root{
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
.body-html{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}
.web{
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.Studio{
    font-family: Raleway, sans-serif;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.link:hover{
  color: var(--accent-color);
}
.link:focus{
    color: var(--accent-color);
}
.navigation{
 color: var(--title-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.17em;
}
.connection{
    font-weight: 500;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.17em;
}
.hero-text{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
}
.hero{
    background-color: #2F303A;
}
.btn{
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: #2F303A;
}
.btn:hover,.btn:focus{
    background-color: var(--accent-color);
}
.title{
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14em;
        color: var(--title-text-color);
}
.title-text{
    font-size: 14px;
    line-height: 1.17em;
}
.work{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
}
li{
    list-style: none;
}
.command{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
}
.subtitle{
    font-weight: 500;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.17em;
}
.subtitle-text{
    font-size: 16px;
    line-height: 1.17em;
}
.footer{
    background-color: #2F303A;
}
.footer-text{
 color: #FFFFFF;
 line-height: 1.17em;
 font-size: 14px;
}
.body-portfolio{
    font-family: Robot, sans-serif;
    color: #212121;
}
.btn-portfolio{
    cursor: pointer;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
}
.btn-portfolio:hover,.btn-portfolio:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.title-proects{
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
}
.proects{
    font-size: 16px;
    line-height: 1.87em;
    color: var(--primary-text-color);
}