:root{
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --font-weight: 700;
    --font-family: Roboto, sans-serif;
}
.body-html{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}
ul{
    margin: 0px;
    padding: 0px;
}
p h1 h2 h3 h4 h5 h6{
    margin: 0px;
}
.site-nav {
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 93px 24px 0px;
}
.web{
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.Studio{
    font-family: Raleway, sans-serif;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.Studio-footer{
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.link{
    text-decoration: none;
    accent-color: var(--accent-color);
    display: block;

    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.link:hover{
  color: var(--accent-color);
}
.link:focus{
    color: var(--accent-color);
}
.navigation{
 color: var(--title-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.17em;
 margin: 0 50px;


}
.icon-header{
    margin-right: 10px;
    margin-bottom: 3px;
    fill: #afb1b8;

    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.mailto{
    align-items: center;
}
.connection:hover .icon-header{
    fill: var(--accent-color);
} 
.connection{
    font-weight: 500;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.17em;
    font-style: normal;
    margin-left: 40px;
    display: flex;
    height: 16px;
    
    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.connection-footer{
    font-weight: 500;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.17em;
    font-style: normal;
    margin-top: 12px;
    display: inline-block;    
}
.hero-text{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    margin: 0 auto;
    padding-top: 200px;
}
.btn{
    line-height: 1.88em;
    accent-color: var(--accent-color);
    font-weight: 700;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    color: var(--primary-white-color);
    outline: 0;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 140px;
    padding: 10px 24px;
    border-color: transparent;
}
.btn:hover,.btn:focus{
    background-color: var(--accent-color);
}
.title{
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14em;
        color: var(--title-text-color);
        padding-bottom: 16px;
        width: 270px;
}
.title-text{
    font-size: 14px;
    line-height: 1.17em;
    padding-right: 30px;
}
.work{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    width: 366px;
    margin: 0 auto;
    margin-top: 94px;
}
li{
    list-style: none;
}
.list:nth-child(1):before{
    display: block;
    content: "";
    background-image: url(../images/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    height: 120px;
    width: 270px;
    margin-right: 30px;
    border-radius: 4px;
}
.list:nth-child(2)::before{
    display: block;
    content: "";
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    height: 120px;
    width: 270px;
    margin-right: 30px;
    border-radius: 4px;
}
.list:nth-child(3)::before {
    display: block;
    content: "";
    background-image: url(../images/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    height: 120px;
    width: 270px;
    margin-right: 30px;
    border-radius: 4px;
}
.list:nth-child(4)::before {
    display: block;
    content: "";
    background-image: url(../images/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    height: 120px;
    width: 270px;
    border-radius: 4px;
}
.command{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
}
.people{
    height: 428px;
    max-width: 270px;
    margin-right: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.subtitle{
    font-weight: 500;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.17em;
}
.subtitle-text{
    font-size: 16px;
    line-height: 1.17em;
}
.Product{
 margin: 10px 70px 0px 70px;
}
.Frontend{
    margin: 10px 60px 0px 60px;
}
.Marketing{
    margin: 10px 97px 0px 97px;
}
.Designer{
    margin: 10px 92px 0px 92px;
}
.footer{
    background-color: #2F303A;
}
.logo-footer{
 margin-left: auto;
 margin-right: auto;
 width: 1200px;
 padding-top: 60px;
 display: flex;
 height: 115px;
}
.footer-text{
 color: #FFFFFF;
 line-height: 1.17em;
 font-size: 14px;
 font-style: normal;
}
.body-portfolio{
    font-family: Roboto, sans-serif;
    color: #212121;
}

.btn-portfolio{
    accent-color:var(--accent-color);
    cursor: pointer;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    color: #212121;
    margin-right: 8px;
    border-radius: 4px;
    border: #FFFFFF;
    padding: 6px 22px;

    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.btn-portfolio:hover,.btn-portfolio:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.title-proects{
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    margin-left: 24px;
}
.proects{
    font-size: 16px;
    line-height: 1.87em;
    color: var(--primary-text-color);
    margin-left: 24px;
}
.place{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 1.71em;
    color: #FFFFFF;
    font-style: normal;
    width: 207px;
}
.current{
    color: var(--accent-color);
}
.current::after{
    content: "";
    display: flex;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    margin-top: 28px;
    border-radius: 2px;
}
.footer-container{
   width: 1200px;
   padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

}
.hero-container{
    height: 600px;
    background-image: linear-gradient(rgba(196, 196, 196, 1),
     rgba(196, 196, 196, 1));
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
.command-container{
    background-color:#F5F4FA;
    margin-top: 94px;
}
.command-inf{
    display: flex;
    width: 1230px;
    padding: 50px 15px 94px 15px;
    margin: 0 auto;
}
.title-container{
    margin: 0 auto;
    margin-top: 94px;
    Width: 1200px;
}
.title-text-container{
    display: flex;
    margin-left: 15px;
}
.navigation-container{
    display: flex;
    margin-top: 32px;
}
.container{
width: 1200px;
margin-left: auto;
margin-right: auto;
margin-bottom: 94px;
}
.header .container{
display: flex;
align-items: center;
margin: 0 auto;
padding: 0 15px;
}
.connection-container{
    display: flex;
    margin-left: auto;
}
.images{
    display: flex;
    width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}
.image-before{
    width: 370px;
    height: 294px;
    position: relative;
    margin-right: 30px;   
}
.image::after{
    content: "";
    /* font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--primary-white-color);
    justify-content: center;
    align-items: center; */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}
.phone::after{
    content: "";
    /* font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--primary-white-color);
    justify-content: center;
    align-items: center; */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}
.gama::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}
.text-image{
    display: flex;
    width: 189px;
    height: 16px;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    font-weight: 900;
    color: var(--primary-white-color);
}
.btn-container{
    margin-left: 65px;
}
.button-container{
    width: 570px;
    display: flex;
    margin: 94px auto 34px auto;
}
.proects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
}
.header{
    border-bottom: 1px solid #ececec;
}
.li-proects{
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.bg-proects{
    position: relative;
    width: 370px;
}
.text-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 210px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    opacity: 0;
}
.bg-proects:hover .text-hover{
    opacity: 1;
    cursor: pointer;
}
.bg-proects:hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    cursor: pointer;
}
.clients-head{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    margin-left: auto;
    margin-right: auto;
    width: 297px;
}
.clients{
    display: flex;
    width: 1200px;
    margin: 50px auto;
}
.clients-container{
        margin-top: 94px;
}
.client-icon{
    padding: 16px 32px;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    max-width: 170px;
    cursor: pointer;
}
.client-icon:nth-last-child(1){
    margin: 0;
}
.client-icon:hover{
    border-color: #2196F3;
}
.O{
   width: 104px;
   margin: 30px 83px 10px 83px;
}
.M{
  width: 130px;
  margin: 30px 70px 10px 70px;
}
.Mi{
    width: 145px;
    margin: 30px 62px 10px 63px;
}
.I{
    width: 130px;
    margin: 30px 70px 10px 70px;
}
.title-footer{
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 14px;
    line-height: 1.14em;
    width: 206px;
    color: #FFFFFF;
    margin-left: 156px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.icon-container{
    margin: 0 auto;
    margin-top: 30px;
    width: 206px;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.icon-social-link{
    width: 44px;
    height: 44px;
}
.icon-social-link:not(:last-child){
    margin-right: 10px;
}
.link-icon{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.link-icon:hover .icon-social{
fill: #FFFFFF;
}
.icon-social{
    fill: #afb1b8;

    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.link-icon:hover{
   background-color: var(--accent-color);
}
.icon-clients{
    width: 170px;
    height: 93px;
    display: block;
    margin-right: 22px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.clients-svg{
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    fill: #afb1b8;
}
.icon-clients:hover .clients-svg{
    fill: var(--accent-color);
}
.icon-clients:hover {
    border: 1px solid #2196F3
}
.icon-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 157px;
}
.icons-footer{
    background: rgba(255, 255, 255, 0.1);
}