:root{
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
.body-html{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}
.web{
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.Studio{
    font-family: Raleway, sans-serif;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.Studio-footer{
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17em;
}
.link{
    text-decoration: none;
    accent-color: var(--accent-color);
}
.link:hover{
  color: var(--accent-color);
}
.link:focus{
    color: var(--accent-color);
}
.navigation{
 color: var(--title-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.17em;
}
.connection{
    font-weight: 500;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.17em;
    font-style: normal;
}
.hero-text{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero{
    background-color: #2F303A;
}
.btn{
    line-height: 1.88em;
    accent-color: var(--accent-color);
    font-weight: 700;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    color: var(--primary-white-color);
    outline: 0;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.btn:hover,.btn:focus{
    background-color: var(--accent-color);
}
.title{
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14em;
        color: var(--title-text-color);
}
.title-text{
    font-size: 14px;
    line-height: 1.17em;
}
.work{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
}
li{
    list-style: none;
}
.command{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
}
.subtitle{
    font-weight: 500;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.17em;
}
.subtitle-text{
    font-size: 16px;
    line-height: 1.17em;
}
.footer{
    background-color: #2F303A;
}
.footer-text{
 color: #FFFFFF;
 line-height: 1.17em;
 font-size: 14px;
 font-style: normal;
}
.body-portfolio{
    font-family: Roboto, sans-serif;
    color: #212121;
}

.btn-portfolio{
    accent-color: var(--accent-color);
    cursor: pointer;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    color: #212121;
}
.btn-portfolio:hover,.btn-portfolio:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.title-proects{
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
}
.proects{
    font-size: 16px;
    line-height: 1.87em;
    color: var(--primary-text-color);
}
.place{
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 1.71em;
    color: #FFFFFF;
    font-style: normal;
}
.current{
    color: var(--accent-color);
font-weight: 500;
font-size: 14px;
line-height: 1.17em;
}