:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --font-weight: 700;
    --font-family: Roboto, sans-serif;
    --animation-trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}
.command{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
        @media screen and (min-width: 480px) {
            width: 450px;
        }
        
    @media screen and (min-width: 790px) {
     width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.command-inf {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
}

.command__people {
    margin: 0 auto;
    width: 270px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.command__subtitle {
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.17em;
}
.command__subtitle--I{
    width: 130px;
    margin: 30px 70px 10px 70px;
}
.command__subtitle--O {
    width: 104px;
    margin: 30px 83px 10px 83px;
}

.command__subtitle--M {
    width: 130px;
    margin: 30px 70px 10px 70px;
}

.command__subtitle--Mi {
    width: 145px;
    margin: 30px 62px 10px 63px;
}
.command__subtitle-text--Product{
   margin: 10px 70px 0px 70px;
}
.command__subtitle-text--frontend{
    margin: 10px 60px 0px 60px;
}
.command__subtitle-text--Marketing {
    margin: 10px 97px 0px 97px;
}

.command__subtitle-text--Designer {
    margin: 10px 92px 0px 92px;
}
.command__subtitle-text {
    font-size: 16px;
    line-height: 1.17em;
    color: var(--primary-text-color);
    font-family: var(--font-family);
    font-weight: 400;
}
.icon {
    margin: 0 auto;
    margin-top: 30px;
    width: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__social-link {
    width: 44px;
    height: 44px;
}

.icon__social-link:not(:last-child) {
    margin-right: 10px;
}

.icon__link {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__link:hover .icon__social {
    fill: #FFFFFF;
}

.icon__social {
    fill: #afb1b8;

    transition-property: color, ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.icon__link:hover {
    background-color: var(--accent-color);
}