:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --font-weight: 700;
    --font-family: Roboto, sans-serif;
    --animation-trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container{
    width: 1200px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.site-nav{
    display: flex;
}
.logo{
    margin-left: 15px;
    margin-top: 19px;
    margin-right: 93px;
    margin-bottom: 25px;
}
.logo__web{
    font-family: Raleway, sans-serif;
        color: var(--accent-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.17em;

}
.logo__Studio{
    font-family: Raleway, sans-serif;
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.17em;
}
.site-nav__navigation-container{
    display: flex;
    margin-right: 90px;
    margin-top: 24px;
}
.site-nav__navigation{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17em;
    margin-left: 50px;

    transition: color var(--animation-trasition);
}
.site-nav__navigation:hover,
.site-nav__navigation:focus{
    color: var(--accent-color);
}

.site-nav__navigation--active {
    color: var(--accent-color);
}
.connection-container{
    display: flex;
    margin-top: 24px;
}
.connection-container__connection{
    margin-right: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17em;
    font-style: normal;
    display: flex;
    color: var(--primary-text-color);
    margin-top: 3px;

transition: color var(--animation-trasition);
}
.connection-container__connection:hover,
.connection-container__connection:focus .connection-container__icon{
    fill: var(--accent-color);
    color: var(--accent-color);
}
.connection-container__icon{
    margin-right: 10px;

    transition: fill var(--animation-trasition);
}
.connection-container__icon--mail{
    margin-top: 2px;
    margin-right: 10px;

    transition: fill var(--animation-trasition)
}
.connection-container__connection:hover,
.connection-container__connection:focus .connection-container__icon--mail{
    fill: var(--accent-color);
    color: var(--accent-color);
}
.site-nav__navigation--distance{
    margin-left: 50px;
    margin-right: 93px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17em;
    margin-left: 50px;

    transition: color var(--animation-trasition);
}
.site-nav__navigation--distance:hover,
.site-nav__navigation--distance:focus{
    color: var(--accent-color);
}