:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color: #fff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --font-weight: 700;
    --font-family: Roboto, sans-serif;
    --animation-trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container{
    height: 400px;
    width: 100%;
    margin: auto auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/bg-tablet.jpg);
    }

        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bg.jpg);
                width: 1600px;
                height: 600px;
        }
}
.hero-text{
    color: #FFFFFF;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.36em;
        font-style: normal;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 360px;
        height: 120px;
        margin: 0 auto;
        padding-top: 118px;
        @media screen and (min-width: 768px) {
            margin-left: 204px;
        }

                @media screen and (min-width: 1200px) {
                    margin: 0 auto;
                    font-size: 44px;
                    width: 696px;
                }
}